<div class="container">
  <h1>Haris's Tic-Tac-Toe</h1>
  <h3 *ngIf="!winner">Current Player: {{ NextPlayer }} </h3>
  <h3 *ngIf="winner">{{ winner }} won the game!</h3>
  <main>
    <div class="button-container">
      <div *ngFor="let row of squares; let i = index">
        <div *ngFor="let col of row; let j = index">
          <button class="squares-{{i}}-{{j}}" id="squareButtons" (click)="handleClickEvent(i, j)">
            <i *ngIf="col === 'O'" class="material-icons">panorama_fish_eye</i>
            <i *ngIf="col === 'X'" class="material-icons">clear</i>
          </button>
        </div>
      </div>
    </div>
  </main>
  <button mat-flat-button class="reset-button" color="white" (click)="resetGame()">
    <i class="material-icons">restart_alt</i>
  </button>
</div>
